<section id="expression-simplifier" ng-controller="expressionController as expression">

  <div class="row">
    <div class="large-12 columns">
      <h1>Expression Simplifier</h1>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="large-6 large-centered columns">

      <form ng-submit="expression.post()" id="expression-form">
        <input type="text" id="exp-input-box"/>
        <input type="submit" id="exp-submit" class="button round secondary"/>
      </form>

    </div>

  </div>


</section>
