// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// General Styles //
body{
  background-color: #32313B;
}
.top-bar{
  background-color: #222930;
  border-bottom: 4px solid #4EB1BA;
  margin-bottom: 50px;
  font-size: 25px;
  .top-bar-title{
    float: left;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
  }
  #dropdown-list{
    float: right;
    margin-right: 10%;
  }
  #drop-down-button{
    font-size: 20px;
    background-color: #222930;
  }
  #move-up{
    margin-top: -4px;
  }
  a{
    text-decoration: none;
    color: white;
  }
}

// Home Styles //
#home{
  #title-row{
    text-align: center;
    margin: 50px auto;
    h1{
      font-size: 100px;
      color: #39B1C6;
    }
  }
  #login-modal{}
  #register-modal{}
}

// Equation Solver Styles //
#equation-solver{
  h1{
    color: #39B1C6;
    text-align: center;
    font-family: 'Droid Sans';
  }
  h3{
    color: #39B1C6;
    font-family: 'Droid Sans';
  }
  #input-box{
    width: 80%;
    height: 50px;
    border: 3px solid #EC3F8C;
    margin-bottom: 20px;
    background-color: white;
    display: inline-block;
  }
  #eq-submit{
    float: right;
  }
  #equation-box{
    height: 500px;
    width: 100%;
    border: 3px solid #EC3F8C;
    background-color: white;
    font-size: 30px;
    .firstTerm{ background-color: red }
    .firstOperator{ background-color: green}
    .secondTerm{ background-color: blue }
    .thirdTerm{ background-color: yellow }
    .secondOperator{ background-color: purple}
    .fourthTerm{ background-color: grey }
  }
  .button.secondary{
    background-color: #EC3F8C;
    color: white;
    border-color: #EC3F8C; /* Change! */
    font-family: 'Droid Sans';
  }
}


